<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-style-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Bus Me Around</title>

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/static/styles/foundation.css" />
	<link rel="stylesheet" href="/static/styles/app.css" />

  <style>
    @font-face {
      font-family: 'Franchise';
      src: url('/static/fonts/franchise.ttf');
      font-weight: bold;
      font-style: normal;
    }

    h1 {
      font-size: 4em;
      font-family: 'Franchise';
    }

    p {
      font-family: 'Georgia', serif;
    }

    #loading {
      text-align: center;
    }

    .clickable {
      cursor: pointer;
    }

    .panel {
      border: 1px solid #aaa;
      border-radius: 5px;
    }
  </style>

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/styles/ie.css">
	<![endif]-->

	<script src="/static/scripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Included JS Files -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script src="/static/scripts/foundation.js"></script>
  <script src="/static/scripts/app.js"></script>
  <script src="/static/scripts/ICanHaz.min.js"></script>
  <script src="/static/scripts/moment.min.js"></script>

  <script id="bus_arrival" type="text/html">
      <li class="clickable">
        <h4>
          + {{ name }} to {{ destination }}
        </h4>
        <p>Arriving {{ eta }} ({{ time }}) at {{ stop }}</p>
      </li>
  </script>
  <script id="bus_panel" type="text/html">
      <div class="twelve columns panel clickable" >
        <h3>
          {{ name }} to {{ destination }}</h3>
          <p>Arriving {{ eta }} ({{ time }}) at {{ stop }}</p>
          <p>
            <a href="http://maps.google.co.uk/?q={{lat}},{{long}}&z=15" class="nice radius medium button">
              Show Me »
            </a>
          </p>
      </div>
  </script>

  <script src="/static/scripts/index.js"></script>

  <script>
  $(function () {
    travelDataSource.init();
    travelDataSource.loadBusData();
  });
  </script>

</head>
<body>

	<div class="container">

		<div class="row">
			<div class="twelve columns">
				<h1>Bus Me Around</h1>
				<hr />
			</div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <div class="alert-box" id="loading" style="display: none;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">

        <ul id="buses" class="block-grid three-up mobile" style="margin-bottom: 0">
        </ul>

      </div>
    </div>

    <div class="row">
      <hr/>

      <div class="twelve columns">
        <p><em>Bus Me Around was thrown into this big scary world by <a href='http://tim-perry.co.uk'>Tim Perry</a>. What a guy.</em></p>
      </div>
    </div>

	</div>

</body>
</html>
