<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-style-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>Bus Me Around</title>

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="/static/styles/foundation.css">
	<link rel="stylesheet" href="/static/styles/app.css">

  <style>
    @font-face {
      font-family: 'Franchise';
      src: url('/static/fonts/franchise.ttf');
      font-weight: bold;
      font-style: normal;
    }

    h1 {
      font-size: 60pt;
      font-family: 'Franchise';
    }

    p {
      font-family: 'Georgia', serif;
    }
  </style>

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/static/styles/ie.css">
	<![endif]-->

	<script src="/static/scripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Included JS Files -->
	<script src="/static/scripts/jquery.min.js"></script>
	<script src="/static/scripts/foundation.js"></script>
  <script src="/static/scripts/app.js"></script>
  <script src="/static/scripts/ICanHaz.min.js"></script>
  <script src="/static/scripts/moment.min.js"></script>

  <script id="bus_arrival" type="text/html">
      <li>
        <h3>{{ name }} to {{ destination }}</h3>
          <p>Arriving {{ eta }} ({{ time }}) at {{ stop }}</p>
      </li>
  </script>
  <script id="bus_panel" type="text/html">
      <div class="twelve columns panel">
        <h3>{{ name }} to {{ destination }}</h3>
          <p>Arriving {{ eta }} ({{ time }}) at {{ stop }}</p>
          <p>
            <a href="http://maps.google.co.uk/?q={{lat}},{{long}}&z=15" class="nice radius medium button">
              Show Me »
            </a>
          </p>
      </div>
  </script>

  <script>
    $(function () {
      // Fix for one of the relative strings when displaying times
      moment.relativeTime.m = "1 minute";

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(havePosition, error);
      } else {
        error ("Sorry, geolocation isn't supported on your device");
      }
    });

    var havePosition = function(position) {
      lat = position.coords.latitude;
      long = position.coords.longitude;

      $.getJSON("/buses-near/" + lat + "/" + long, function(data) {
        buses = data['buses'];
        stops = data['stops'];
        $("#buses").empty();

        $.each(buses, function(i, bus) {
          arrival_time = moment(bus.unixtime);
          bus.time = arrival_time.format('h:mma');
          bus.eta = arrival_time.fromNow();
          stop = stops[bus.stop_id]
          bus.stop = stop.name;
          bus.lat = stop.lat
          bus.long = stop.long
          bus.distance_to_stop = Math.round(bus.distance_to_stop);

          bus_html = ich.bus_arrival(bus);
          if (i % 3 == 0) bus_html.css('clear', 'both');
          bus_html.data('bus', bus);
          bus_html.click(openBusPanel);

          $("#buses").append(bus_html);
        });
      })
    };
    
    var error = function(msg) {
      alert(msg);
    }

    var openBusPanel = function() {
      bus_data = $(this).data('bus');
      bus_panel = ich.bus_panel(bus_data);
      bus_panel.data('bus', bus_data);
      bus_panel.click(closeBusPanel);

      // Need to stop us closing the panel when we hit the show map link
      // (so if you go back to the browser in android, the panel's still open)
      bus_panel.find('a').click(function(e) {
        e.stopPropagation();
      })

      $(this).replaceWith(bus_panel);
    }

    var closeBusPanel = function() {
      bus_data = $(this).data('bus');
      bus_arrival = ich.bus_arrival(bus_data);
      bus_arrival.data('bus', bus_data);
      bus_arrival.click(openBusPanel);

      $(this).replaceWith(bus_arrival);
    }
  </script>

</head>
<body>

	<div class="container">

		<div class="row">
			<div class="twelve columns">
				<h1>Bus Me Around</h1>
				<hr />
			</div>
    </div>

    <div class="row">
      <div class="twelve columns">

        <ul id="buses" class="block-grid three-up mobile" style="margin-bottom: 0">
        </ul>

      </div>
    </div>

    <div class="row">
      <hr/>

      <div class="twelve columns">
        <p><em>Bus Me Around was thrown into this big scary world by <a href='http://tim-perry.co.uk'>Tim Perry</a>. What a guy.</em></p>
      </div>
    </div>

	</div>

</body>
</html>
